#Non work related apps

freeciv
zangband
icecast2
minetest
openarena
manaplus

#Hacking tools

zmap
nmap
zenmap
goldeneye
wireshark
ophcrack
hydra
hydra-gtk
kismet
john
johntheripper
aircrack
scanmem
ettercap
bettercap
hashcat
masscan
metasploit-framework
bloodhound
burpsuite
medusa
wpscan
exploitdb

#Hack-able services
#(you may want to check before deleting)

netcat
nc
telnet
dnsmasq
snmp
nginx
mariadb
cups
postfix
bind9
vino
remmina
remmina-common
remote-login-service
exim4
exim4-base
bluez
pumpa
amule
gware
